<!--<h1>Static#register</h1>
<p>Find me in app/views/static/register.html.erb</p>-->

<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    Fleur De Cafe
  </nav>
</div>

<div class="row">
  <div class="small-2 large-4 columns">email address</div>
  <div class="small-4 large-4 columns">enter your payment information</div>
  <div class="small-6 large-4 columns">review and complete your order</div>


<section id="step1" class="columns large-4">
<div class="bar bold">1</div>
<div class="step">
<div class="eaddress">
<div class="title i">email address</div>
<div class="aform">
<div class="row">
<div class="aemail columns">
<input type="email" id="f-email" name="email" placeholder="email address">
</div>
</div>

<section id="step2" class="columns large-4 off">
<div class="bar bold">2</div>
<div class="step payment">
<div class="title i">enter your payment information</div>
<div id="cc">
<div class="cform card">
<div class="line"></div>
<div class="info">
<div class="row">
<div class="columns small-8"><input type="text" name="cc_number" placeholder="card number" pattern="\d*"/></div>
<div class="columns small-4"><input type="text" name="cvv" placeholder="cvv" pattern="\d*"/></div>
</div>

	

