<!--<h1>Static#register</h1>
<p>Find me in app/views/static/register.html.erb</p>-->

<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    Fleur De Cafe
  </nav>
</div>

<div class="row">

  <div class="small-4 columns">
    <div class="bar bold">1</div>
    <input type="email" id="f-email" name="email" placeholder="email address">
    nest stuff here for 1st column
  </div>

  <div class="small-4 columns">
    <div class="bar bold">2</div>
    nest stuff here for 2nd column
    enter your payment information
  </div>

  <div class="small-4 columns">
    <div class="bar bold">3</div>
    review and complete your order
    nest stuff here for 3rd column
  </div>

</div>

	

