<!--<h1>Static#register</h1>
<p>Find me in app/views/static/register.html.erb</p>-->

<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    Fleur De Cafe
  </nav>
</div>

<div class="row">

  <div class="small-4 columns">
    <div class="bar bold">1</div><br></br>
    email address<br></br>
    <input type="email" id="f-email" name="email" placeholder="email address">
    	<div class="radio">
			<div class="columns small-2">
				<div class="nb-check">
					<input type="checkbox" id="setpass" class="setpass" name="setpass"/>
						<label for="setpass"></label>
			</div>
				</div>
		<div class="columns small-10 passlabel">
			<label for="setpass">checkout as a guest.</label>
		</div>
		</div>

  </div>

  <div class="small-4 columns">
    <div class="bar bold">2</div><br></br>
    enter your payment information<br></br>
	<input type="text" id="f-payment" name="payment" placeholder="payment information">   
    		
  </div>

  <div class="small-4 columns">
    <div class="bar bold">3</div><br></br>
    review and complete your order<br></br>
  </div>

</div>

	

