// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contain-to-grid {
	background-color: white;
}

.top-bar {
	color: green;
	background: white;
}

.header {
	font-size: 20px;
}

.bar.bold {
	color: #fff;
	line-height: 55px;
	text-align: center;
	font-size: 1.5em;
	background-color: green;
}

.row {
	text-align: center;
}

#checkout {
	max-width: 3000px;
	text-align: left;
}

.radio {
	text-align: left;
}
